.cityName {
    font-size:2em;
    color: white;
    width: 100%;
    text-align: center;
}

.city_panel{
    margin-top: 80px;
    height: 40vh;
    /*width: 80vw;*/
    width: 80vw;
    background-color: rgba(200,200,200,0.3);
    border-radius: 30px;
}

.aqi_number {
    padding: 20px 0;
    font-size: 3em;
    color: white;
}

.aqi_label {
    color: white;
    padding: 30px 0;
    font-size: 1em;
}