.Navigator {
    background-color: rgba(46,48,50,0.1);
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nav_title {
    text-align: center;
    font-size: 20px;
    margin: 10px auto;
}


.left_button, .left_button:hover, .left_button:active, .left_button:focus{
    border: none;
    height: 50px;
    width: 50px;
    background-color: rgba(46,48,50,0.1);
}

.left_col {
    padding: 0 0;
}

.right_col {
    padding: 0 0;
}


.right_button, .right_button:hover{
    border: none;
    margin: 0 0;
    height: 50px;
    width: 50px;
    background-color: rgba(46,48,50,0.1);
}
