
.MainPage_default {
    /*background-image: url(/asset/images/bg2@3x.png);*/
    /*background-size: cover;*/
    background: repeating-linear-gradient(180deg, rgba(42,109,234,1) 0, rgba(42,109,234,1) 18%, rgba(105,137,206,0.92) 33%, rgba(64,110,201,0.85) 47%, rgba(105,137,206,0.75) 68%, rgba(105,137,206,0.75) 84%, rgba(105,137,206,0.75) 100%);
    background-position: 50% 50%;
    height: 100vh;
    z-index: 999;
}

.MainPage_transform {
    height: 100vh;
    background: repeating-linear-gradient(180deg, rgba(42,109,234,1) 0, rgba(42,109,234,1) 18%, rgba(105,137,206,0.92) 33%, rgba(64,110,201,0.85) 47%, rgba(105,137,206,0.75) 68%, rgba(105,137,206,0.75) 84%, rgba(105,137,206,0.75) 100%);
    background-position: 50% 50%;
    transform: translateX(80%);
    transition: transform 0.25s ease-in-out;
    overflow-x: hidden;
    z-index: 999;
}

.city_panel_container {
    width: 100%;
}

.data_panel {

    background-color: rgba(200,200,200,0.3);
    border-radius: 10px;
}